In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read The CSV dataset
data = pd.read_csv('Datasets/customer_reviews.csv')
# Check For NaN
num_of_nan = data.isna().sum()
print(f'Number of Nans:\n{num_of_nan}')
data

Number of Nans:
ReviewID      0
ProductID     0
Rating        0
Review        0
ReviewDate    0
dtype: int64

,ReviewID,ProductID,Rating,Review,ReviewDate
0,1,7,3,this product is amazing!,01/01/2020
1,2,4,5,"terrible, would not recommend.",02/01/2020
2,3,8,3,"IT WORKS OKAY, NOT THE BEST.",03/01/2020
3,4,5,1,absolutely love it!,2020-01-04 00:00:00
4,5,7,5,not worth the money.,05/01/2020
...,...,...,...,...,...
95,96,3,5,"DECENT QUALITY, BUT OVERPRICED.",05/04/2020
96,97,8,3,EXCEEDED MY EXPECTATIONS!,06/04/2020
97,98,6,4,"POOR QUALITY, BROKE AFTER A WEEK.",2020-04-07 00:00:00
98,99,3,4,JUST OKAY.,2020-04-08 00:00:00
99,100,1,3,great value for the price!,09/04/2020

In [3]:
def formatDate(date: str) -> np.datetime64:
    # First split on space and keep the first part to remove the time component if it exists
    # Second split on / and re-order to match our final format YYYY-MM-DD
    date = date.split(' ')[0]
    date = date.split('/')
    date.reverse()
    date = '-'.join(date)
    return np.datetime64(date)

In [4]:
# Format Dates
# As we are probably interested in the Date and not the time so much we will format all dates to YYYY-MM-DD
data['ReviewDate_formated_1'] = pd.to_datetime(data['ReviewDate'],format='mixed') # Thank our Overloard that pandas has all this helpfull functions
data['ReviewDate_formated_2'] = data['ReviewDate'].apply(formatDate) # Custom function to format the date

In [5]:
data

,ReviewID,ProductID,Rating,Review,ReviewDate,ReviewDate_formated_1,ReviewDate_formated_2
0,1,7,3,this product is amazing!,01/01/2020,2020-01-01,2020-01-01
1,2,4,5,"terrible, would not recommend.",02/01/2020,2020-02-01,2020-01-02
2,3,8,3,"IT WORKS OKAY, NOT THE BEST.",03/01/2020,2020-03-01,2020-01-03
3,4,5,1,absolutely love it!,2020-01-04 00:00:00,2020-01-04,2020-01-04
4,5,7,5,not worth the money.,05/01/2020,2020-05-01,2020-01-05
...,...,...,...,...,...,...,...
95,96,3,5,"DECENT QUALITY, BUT OVERPRICED.",05/04/2020,2020-05-04,2020-04-05
96,97,8,3,EXCEEDED MY EXPECTATIONS!,06/04/2020,2020-06-04,2020-04-06
97,98,6,4,"POOR QUALITY, BROKE AFTER A WEEK.",2020-04-07 00:00:00,2020-04-07,2020-04-07
98,99,3,4,JUST OKAY.,2020-04-08 00:00:00,2020-04-08,2020-04-08
99,100,1,3,great value for the price!,09/04/2020,2020-09-04,2020-04-09

In [6]:
# Find Duplicates
num_duplicates = data.duplicated().sum()
print(f'Number of Duplicates: {num_duplicates}')

Number of Duplicates: 0

In [7]:
# Clean our columns and save the dataset to a new csv
data['ReviewDate'] = data['ReviewDate_formated_1']
data = data.drop(['ReviewDate_formated_1','ReviewDate_formated_2'],axis=1)
data.to_csv('Datasets/customer_reviews_cleaned.csv',index=False)